@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.content, Hero {
    text-align: center;
    color: red;
  }

  .hero-msg {
    height: 10px;
    width: 10%;
    background-color: powderblue;
  }